/* GENERAL TEXT */

p, h1, h2, h3, h4, ul {
  margin: 1em 0;
}
body {
  line-height: 1.25;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: url(../images/map-with-labels.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  background-attachment: fixed;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
  font-weight: 400;
}
h4 {
  font-size: 1em;
  font-weight: 400;
}
em {
  font-weight: 400;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 0 1em 1em;
}
time {
  text-decoration: underline;
}

/* NAV */
nav {
  display: block;
  background: rgba(255,255,255,0.85);
  margin-bottom: 1em;
}
nav ul {
  display: block;
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
}
nav li {
  display: inline;
}
nav li a:link,
nav li a:visited,
nav li a:hover,
nav li a:active {
  text-decoration: none;
  display: inline-block;
  padding: 0.5em;
  font-weight: 400;
  color: #1f168b;
}
nav li a:hover {
  text-decoration: underline;
}

/* KAITLYN AND MATT */

#map .height-manager {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  overflow: auto;
}
#engagement-photo {
  width: 200px;
  max-width: 35%;
  border-radius: 50%;
  display: block;
  margin: 3.5% auto;
  border: 2px solid white;
  box-shadow: black 0 0 2px;
}
#kaitlyn-and-matt {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.0625em;
  color: white;
  text-shadow: black 0px 0px 2px;
  font-weight: 400;
  margin: 3.5% 0;
}
#date-and-place {
  color: white;
  text-shadow: black 0 0 2px;
  margin: 3.5% 0;
  margin-bottom: 8%;
  font-weight: 400;
}
section {
  max-width: 1000px;
  margin: 0 auto;
  overflow: auto;
}
.inner {
  margin: 0 2.5% 2.5% 2.5%;
  padding: 1% 2.5%;
  background: white;
  overflow: auto;
  border-radius: 5px;
}

/* THE WEDDING WEEKEND */

.wedding-weekend-day {
  float: left;
  width: 48.936170213%;
}
.friday {
  margin-right: 2.1276595745%;
}
.wedding-weekend-day h3 {
  margin-top: 0;
}
.wedding-weekend-day td {
  padding-bottom: 0.5em;
}
.time {
  padding-right: 0.5em;
  font-weight: 400;
}
.wedding-event {
  display: block;
  font-weight: 400;
}
@media (max-width: 650px) {
  .wedding-weekend-day, .friday {
    float: none;
    width: 100%;
    margin-right: 0;
  }
  .wedding-weekend-day h3 {
    margin-top: 1em;
  }
}

/* TRAVEL AND ACCOMMODATIONS */

.hotels {
  overflow: auto;
}
.hotels li {
  display: block;
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
}
.hotel-name {
  font-weight: 400;
  display: block;
}

/* GIFT REGISTRY */

.registries li {
  display: inline-block;
  text-align: center;
  margin: 0 0.5em 1.5em 0;
}
.registries li a {
  display: block;
}
.registries img {
  width: 200px;
  border: 1px solid #ccc;
}

/* WASHINGTON, D.C. */

.quick-note {
  font-style: italic;
}

/* FOOTER */

footer {
  max-width: 940px;
  margin: 0 auto 3em auto;
  padding: 1em 2.5%;
}
